---
http_interactions:
- request:
    method: put
    uri: https://api.test.datacite.org/dois/10.80243/p8wq-ps50
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"creators":[{"name":"Jose Jacobson"}],"titles":[{"title":"Clouds
        of Witness"}],"descriptions":[{"description":"Fugit qui repellendus dolorem."}],"publisher":"Shoemaker
        & Hoard Publishers","publicationYear":"2021","types":{"resourceType":"Text/Book","resourceTypeGeneral":"Text"},"url":"https://example.com/","schemaVersion":"http://datacite.org/schema/kernel-4"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"401","title":"Bad credentials."}]}'
  recorded_at: Tue, 12 Oct 2021 17:14:13 GMT
recorded_with: VCR 5.0.0
