---
http_interactions:
- request:
    method: put
    uri: https://api.test.datacite.org/dois/doi:10.80243/1234
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"creators":[{"name":"Judy Gutkowski"},{"name":"Jose
        Jacobson"}],"titles":[{"title":"Clouds of Witness"}],"descriptions":[{"description":"Fugit
        qui repellendus dolorem."}],"publisher":"Shoemaker & Hoard Publishers","publicationYear":"2021","types":{"resourceType":"Text/Book","resourceTypeGeneral":"Text"},"url":"https://example.com/","schemaVersion":"http://datacite.org/schema/kernel-4"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"source":"doi","uid":"10.80243/1234","title":"This DOI
        has already been taken"}]}'
  recorded_at: Tue, 12 Oct 2021 15:59:18 GMT
recorded_with: VCR 5.0.0
