---
http_interactions:
- request:
    method: post
    uri: https://api.test.datacite.org/dois
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"one":"one","event":"publish","prefix":"10.80243"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"source":"url","uid":"10.80243/3ntw-p508","title":"Can''t
        be blank"}]}'
  recorded_at: Tue, 12 Oct 2021 15:54:02 GMT
recorded_with: VCR 5.0.0
