---
http_interactions:
- request:
    method: post
    uri: https://api.test.datacite.org/dois
    body:
      encoding: UTF-8
      string: '{"data":{"attributes":{"prefix":"10.80243"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Location:
      - https://api.test.datacite.org/dois/4820744
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.80243/s5m9-cx93","type":"dois","attributes":{"doi":"10.80243/s5m9-cx93","prefix":"10.80243","suffix":"s5m9-cx93","identifiers":[],"alternateIdentifiers":[],"creators":[],"titles":[],"publisher":null,"container":{},"publicationYear":null,"subjects":[],"contributors":[],"dates":[],"language":null,"types":{},"relatedIdentifiers":[],"sizes":[],"formats":[],"version":null,"rightsList":[],"descriptions":[],"geoLocations":[],"fundingReferences":[],"xml":null,"url":null,"contentUrl":null,"metadataVersion":0,"schemaVersion":null,"source":"api","isActive":false,"state":"draft","reason":null,"landingPage":null,"viewCount":0,"viewsOverTime":[],"downloadCount":0,"downloadsOverTime":[],"referenceCount":0,"citationCount":0,"citationsOverTime":[],"partCount":0,"partOfCount":0,"versionCount":0,"versionOfCount":0,"created":"2021-10-12T15:54:03.000Z","registered":null,"published":"","updated":"2021-10-12T15:54:03.000Z"},"relationships":{"client":{"data":{"id":"ualberta.library","type":"clients"}},"provider":{"data":{"id":"ualberta","type":"providers"}},"media":{"data":{"id":"10.80243/s5m9-cx93","type":"media"}},"references":{"data":[]},"citations":{"data":[]},"parts":{"data":[]},"partOf":{"data":[]},"versions":{"data":[]},"versionOf":{"data":[]}}}}'
  recorded_at: Tue, 12 Oct 2021 15:54:03 GMT
recorded_with: VCR 5.0.0
